*{
  box-sizing: border-box;
}

body{
  background-color: #a0c4ff;
}

h1{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-areas:
    "top top top"
    "left middle right"
    "bottom bottom bottom";
  grid-template-rows: 20px 1fr 1fr;
  grid-template-columns: 1fr 600px 1fr;
}

.sign-in,
.register,
.contactInfo,
.searchField{
  display: grid;
  grid-template-areas: "fieldLabel text";
  grid-template-columns: 30% 70%;
  grid-template-rows: 30px;
  padding: 5px;
}

input,
select{
  border: 0px solid;
  border-radius: 15px;
  padding-left: 10px;
}

.text{
  grid-area: text;
}

.fieldLabel{
  grid-area: fieldLabel;
  padding-left: 5px;
}

.top,
.left,
.middle,
.right,
.bottom {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.top{
  grid-area: top;
}

.left {
  grid-area: left;
}

.middle{
  grid-area: middle;
  background-color: #f1f1f1;
  text-align: left;
  width: 600px;
  border: 0px solid;
  border-radius: 15px;
}

.right{
  grid-area: right;
}

.bottom{
  grid-area: bottom;
}

.buttons{
  font-size: 15px;
  width: 100px;
  display: none;
}

.contactInfo{
  display: none;
}

.register{
  display: none;
}

.sign-in{
}

.searchField{
  display: none;
}

.register{
  display: none;
}

#loginButton{
  display: inline-block;
}

#registerButton{
  display: inline-block;
}

#buttonContainer{
  width: 100%
}

.easteregg{
}

#secretButton{
  font-size: 8px;
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
    "top top top"
    "left left left"
    "middle middle middle"
    "right right right"
    "bottom bottom bottom";
    grid-template-rows: 70px 10px 1fr 10px 70px;
    grid-template-columns: 1fr;
}
